{{#section 'title'}}
    <b>Add category</b>
{{/section}}

{{#if showResult}}
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>OK!</strong> Category added.
</div>
{{/if}}

<div class="row">
  <ol class="breadcrumb">
    <li><a href="#">
      <em class="fa fa-home"></em>
    </a></li>
    <li class="active">Dashboard/Quản lý đơn hàng</li>
  </ol>
</div><!--/.row-->

<div class="row" style="border-bottom:1px solid green;">
    <h1 class="page-header">Thêm đơn hàng</h1>
</div><!--/.row-->
{{#with oder}}
<form action="" method="POST" role="form">
  <div class="form-group">
    <label for="">Mã Đơn Hàng</label>
    <input type="text" class="form-control" id="" name="OrderID" readonly value="{{OrderID}}">
      </div>

  <div class="form-group">
    <label for="">Ngày</label>
    <div class='input-group date' id='datetimepicker1'>
                    <input id"t1" type='text' class="form-control"  value="{{OrderDate}}" name="OrderDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
      </div>
      <div class="form-group">
    <label for="">UserID</label>
    <input type="text" class="form-control" id="" name="UserID" value="{{UserID}}">
      </div>
            <div class="form-group">
    <label for="">Số Lượng</label>
    <input type="text" class="form-control" id="" name="Total" value="{{Total}}">
      </div>
          <div class="form-group">
    <label for="">Địa chỉ</label>
    <input type="text" class="form-control" id="" name="Adress" value="{{Adress}}">
  </div>
  <div class="form-group">
<label for="">Trạng Thái</label>
<input type="text" class="form-control" id="" name="Status" value="{{Status}}">
</div>
  <a class="btn btn-default" href="/admin/quanlydonhang" role="button">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back
  </a>
  <button type="submit" class="btn btn-primary">
    <span class="glyphicon glyphicon-ok"></span>
    Update
  </button>
</form>
{{/with}}

{{#section 'js'}}

<script type="text/javascript">
</script>
{{/section}}
